
/* Generality */
body
{background-color: #353535;
font-family: Cambria, "Trebuchet MS", Arial, Verdana, sans-serif;
color: #64b164;
margin-top: 20px;}

.flex_box_column
{display: flex;
flex-direction: column}

.flex_box_row
{display: flex;
flex-direction: row;}

.center
{align-items: center;}

.logo_site
{height: 150px;}

*
{box-sizing: border-box;}

.button_generic
{background: #33337A;
color: rgb(180,180,180);
padding: 3px;
margin-bottom: 30px;
border-width: 4px;
border-color: #33337A;
border-radius: 20px / 30px;}


/* Relating to parts */
.width_1000
{width: 65%}



    /* Relating to header site */
    #header_site
    {background-color: #212121;
    justify-content: space-between;
    align-items: flex-end;}

    .menu_nav_site
    {margin: 0;
    padding: 0 0 17px 0;
    list-style-type: none;}

    .option_nav_site
    {margin: 0 50px 0 0;
    font-size: 1.8em;
    color: #64b164;}

    /* Relating to modal window */
    .modal
    {position: fixed;
    color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(53, 53, 53, 0.8);
    animation: fadeIn .4s both;}

    .modal_wrapper
    {position: relative;
    top: 50px;
    width: 800px;
    max-width: calc(100vw - 50px);
    max-height: calc(100vh - 80px);
    overflow: auto;
    padding: 20px;
    background-color: #353535;
    border: 2px black solid;
    animation: slideFromTop .4s both;}

    .modal[aria-hidden="true"]
    {animation-name: fadeOut;}

    .modal[aria-hidden="true"] .modal_wrapper
    {animation-name: slideFromBottom;}

    @keyframes fadeIn
    {from { opacity: 0; }
    to { opacity: 1; }}

    @keyframes fadeOut
    {from { opacity: 1; }
    to { opacity: 0; }}

    @keyframes slideFromTop
    {from { transform: translateY(-50px); }
    to { transform: translateY(0px); }}

    @keyframes slideFromBottom
    {from { transform: translateY(0px); }
    to { transform: translateY(50px); }}

        /* Relating to data movie in modal window */
        .modal_head
        {position: relative;
        align-items: center;
        justify-content: center;
        max-width: calc(100vw - 20px);
        height: 20px;
        top: 0;
        margin-bottom: 30px;}

        .js_modal_title
        {text-decoration: underline double;
        font-size: 2em;}

        .js_modal_close
        {position: absolute;
        padding: 0;
        right: 0;
        top: -3px;
        width: 30px;
        height: 30px;
        font-weight: bold;
        font-size: 1.3em;}

        .js_modal_poster
        {margin-right: 30px;}

        .modal_infos
        {justify-content: space-between;}

        .alinea_duration
        {text-indent: 20px;}

        .js_modal_genres
        {margin-right: 10px;}

        .box_modal_synopsis
        {margin-top: 20px;}

        .key_synopsis
        {text-decoration: underline;
        margin-bottom: 15px;
        }




    /* Relating to categorys */
    .margin_category
    {margin-top: 20px;}

        /* Relating to nav arrows*/
        .nav_art_generality
        {width: 20px;
        height: 32px;
        background-color: black;}

        .arrow_left
        {clip-path: polygon(100% 100%, 100% 0, 0 50%);}

        .arrow_right
        {clip-path: polygon(0 0, 0 100%, 100% 50%);}

        .pave
        {clip-path: polygon(100% 25%, 0% 25%, 0 75%, 100% 75%);}

        .nav_movies_left
        {margin-right: 9px;}

        .nav_movies_right
        {margin-left: 9px;}

        /* Category : Best movie */
        #best_movie
        {color: black;
        text-align: justify;}

        #infos_best_movie
        {margin-right: 30px;}

        #poster_best_movie
        {height: 400px;
        width: auto;}

        #title_best_movie
        {text-align: center;
        margin-bottom: 60px;
        font-size: 2em;
        text-decoration: underline double;}






        /* Other category*/
        .title_category
        {text-align: center;
        color: black;
        font-size: 1.8em;
        margin: 50px 0;
        text-decoration: underline;}

        .nav_n_movies_category
        {align-items: center;
        max-width: 1000px;
        overflow: hidden;}

        .movies_category
        {max-width: 880px;
        overflow: hidden;}

        .movie_container
        {  
        height: 200px;
        width: auto;
        border: 1px black solid;
        padding: 0;
        margin: 0 8px;
        z-index: 0;
        background: none;
        }

        .movie_poster_container
        {height: 200px;
        width: auto;
        }


/* */


/* À ranger */
.synopsis
{font-size: 1.1em;
text-indent: 40px;}

/* img.: 1px black solid;} */

a
{text-decoration: none;}

a:visited
{color: #64b164;}


/* temporaire */

.temporaire_green
{border: 1px green solid;}

.temporaire_red
{border: 1px red solid;}

.temporaire_yellow
{border: 1px yellow solid;}

.temporaire_violet
{border: 1px violet solid;}



*:focus
{box-shadow: 0 0 4px red;}

.box_movie
{background: red;
z-index: 0;}

.hidden_button
{position: relative;
z-index: 1;
top: 0;
left: 0;
opacity: 0;}